.text {
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(153, 153, 153);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: collapse;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(153, 153, 153);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(153, 153, 153);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(153, 153, 153);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: text;
display: inline-block;
font-family: 微软雅黑, "Microsoft YaHei", 新宋体, NSimSun, STHeiti, Hei, "Heiti SC", sans-serif;
font-size: 13px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 28px;
letter-spacing: normal;
line-height: 28px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 3px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 4px;
padding-right: 4px;
padding-top: 0px;
text-align: start;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: none;
vertical-align: middle;
width: 300px;
word-spacing: 0px;
writing-mode: horizontal-tb;
-webkit-appearance: none;
-webkit-border-horizontal-spacing: 2px;
-webkit-border-vertical-spacing: 2px;
-webkit-rtl-ordering: logical;
-webkit-border-image: none;
}